# Day 6
---
## Pandas Dataframe

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
%matplotlib inline

In [4]:
df=pd.DataFrame(np.random.randint(0,100,10))

In [5]:
df

    0
0   4
1  51
2  51
3  88
4  85
5  83
6  16
7  43
8  64
9  11

In [6]:
df=pd.DataFrame(np.random.randint(0,100,100).reshape(10,10))

In [7]:
df

    0   1   2   3   4   5   6   7   8   9
0  73  72  57  57   7  29  62  81  96   4
1  91  74   3  29  82  29  36  20  39  88
2  96  25  58  89  61  16  96  93  28  59
3  85  16  12  78   5  29  44  21   2   6
4  91  22  74  66  95  48  24  66  11  30
5  52   6  77  99  27  44  83  22  56  18
6  82  21  78  99  33  70  62  28  71  60
7  20  89  96   1  12  70  78  85  47  30
8  34  72  51   0  46  41  70  59  84  40
9  36   8  58  81  89  51  62  76  59  47

In [8]:
df=pd.DataFrame(np.random.randint(0,100,100).reshape(20,5),columns=["A","B","C","D","E"])

In [9]:
df

     A   B   C   D   E
0   23  25  70  24  79
1   98  12  10  54  48
2   84  11  35  47  27
3   81   3  32  39  17
4   67  95   7  57  25
5   95  41  50  26  26
6   21  64   9  18  92
7   80  56  99  62  95
8   64  79  64  21  79
9   77  32  13   2  92
10  85  74  61  32  74
11  15   7  68  19  28
12  72  76  82  98  39
13  33  40  76  34  88
14  38   6  16  91  33
15  57  35   8  58  12
16  92  35  27  76  96
17  91  79  83  41  43
18  54  89  70   9  22
19  50  18  90  68  33

In [10]:
df["A"]

0     23
1     98
2     84
3     81
4     67
5     95
6     21
7     80
8     64
9     77
10    85
11    15
12    72
13    33
14    38
15    57
16    92
17    91
18    54
19    50
Name: A, dtype: int64

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
type(df["A"])

pandas.core.series.Series

In [14]:
df.A[7]

80

In [16]:
df[["A","B"]]

     A   B
0   23  25
1   98  12
2   84  11
3   81   3
4   67  95
5   95  41
6   21  64
7   80  56
8   64  79
9   77  32
10  85  74
11  15   7
12  72  76
13  33  40
14  38   6
15  57  35
16  92  35
17  91  79
18  54  89
19  50  18

In [17]:
df.loc[0]

A    23
B    25
C    70
D    24
E    79
Name: 0, dtype: int64

In [18]:
df.iloc[0]

A    23
B    25
C    70
D    24
E    79
Name: 0, dtype: int64

In [19]:
ndf=df.loc[8:14]

In [20]:
ndf

     A   B   C   D   E
8   64  79  64  21  79
9   77  32  13   2  92
10  85  74  61  32  74
11  15   7  68  19  28
12  72  76  82  98  39
13  33  40  76  34  88
14  38   6  16  91  33

In [21]:
ndf.loc[0]

KeyError: 'the label [0] is not in the [index]'

In [22]:
ndf.iloc[0]

A    64
B    79
C    64
D    21
E    79
Name: 8, dtype: int64

In [23]:
ar=np.array([2,3,4,5,6,7,8,6,4])

In [24]:
ar[3:7]

array([5, 6, 7, 8])

In [25]:
ar[0]

2

In [26]:
ar[3:7][0]

5

In [27]:
ndf.index

RangeIndex(start=8, stop=15, step=1)

In [28]:
df[0:8]

    A   B   C   D   E
0  23  25  70  24  79
1  98  12  10  54  48
2  84  11  35  47  27
3  81   3  32  39  17
4  67  95   7  57  25
5  95  41  50  26  26
6  21  64   9  18  92
7  80  56  99  62  95

In [31]:
df.loc[4:14,'A':'C']

     A   B   C
4   67  95   7
5   95  41  50
6   21  64   9
7   80  56  99
8   64  79  64
9   77  32  13
10  85  74  61
11  15   7  68
12  72  76  82
13  33  40  76
14  38   6  16

In [34]:
df.loc[:5,['E','B']]

    E   B
0  79  25
1  48  12
2  27  11
3  17   3
4  25  95
5  26  41

In [36]:
temperatures=[
    {'city':'kathmandu','minimum':9,'maximum':17},
    {'city':'pokhara','minimum':9,'maximum':17},
    {'city':'dhangadhi','minimum':9,'maximum':17},
    {'city':'biratnagar','minimum':9,'maximum':17}
]

In [37]:
df=pd.DataFrame(temperatures)

In [38]:
df

         city  maximum  minimum
0   kathmandu       17        9
1     pokhara       17        9
2   dhangadhi       17        9
3  biratnagar       17        9

In [39]:
sr=pd.Series([80,75,95,87])

In [40]:
sr

0    80
1    75
2    95
3    87
dtype: int64

In [43]:
df['humidity']=sr

In [44]:
df

         city  maximum  minimum  humudity  humidity
0   kathmandu       17        9        80        80
1     pokhara       17        9        75        75
2   dhangadhi       17        9        95        95
3  biratnagar       17        9        87        87

In [45]:
sr=pd.Series([22,17,np.nan,np.nan])

In [47]:
df['rainfall']=sr

In [48]:
df

         city  maximum  minimum  humudity  humidity  rainfall
0   kathmandu       17        9        80        80      22.0
1     pokhara       17        9        75        75      17.0
2   dhangadhi       17        9        95        95       NaN
3  biratnagar       17        9        87        87       NaN

In [49]:
df.loc[:,'city':'minimum']

         city  maximum  minimum
0   kathmandu       17        9
1     pokhara       17        9
2   dhangadhi       17        9
3  biratnagar       17        9

In [50]:
df.set_index('city')

            maximum  minimum  humudity  humidity  rainfall
city
kathmandu        17        9        80        80      22.0
pokhara          17        9        75        75      17.0
dhangadhi        17        9        95        95       NaN
biratnagar       17        9        87        87       NaN

In [51]:
df

         city  maximum  minimum  humudity  humidity  rainfall
0   kathmandu       17        9        80        80      22.0
1     pokhara       17        9        75        75      17.0
2   dhangadhi       17        9        95        95       NaN
3  biratnagar       17        9        87        87       NaN

In [53]:
#df=df.set_index('city')
df.set_index('city',inplace=True)

In [54]:
df

            maximum  minimum  humudity  humidity  rainfall
city
kathmandu        17        9        80        80      22.0
pokhara          17        9        75        75      17.0
dhangadhi        17        9        95        95       NaN
biratnagar       17        9        87        87       NaN

In [57]:
df.loc[:]

            maximum  minimum  humudity  humidity  rainfall
city
kathmandu        17        9        80        80      22.0
pokhara          17        9        75        75      17.0
dhangadhi        17        9        95        95       NaN
biratnagar       17        9        87        87       NaN

In [58]:
df.iloc[:]

            maximum  minimum  humudity  humidity  rainfall
city
kathmandu        17        9        80        80      22.0
pokhara          17        9        75        75      17.0
dhangadhi        17        9        95        95       NaN
biratnagar       17        9        87        87       NaN

In [60]:
df.iloc[0]

maximum     17.0
minimum      9.0
humudity    80.0
humidity    80.0
rainfall    22.0
Name: kathmandu, dtype: float64

In [61]:
df.loc['kathmandu']

maximum     17.0
minimum      9.0
humudity    80.0
humidity    80.0
rainfall    22.0
Name: kathmandu, dtype: float64

In [62]:
df['maximum']

city
kathmandu     17
pokhara       17
dhangadhi     17
biratnagar    17
Name: maximum, dtype: int64

In [63]:
df['maximum']=df['maximum']/3

In [64]:
df

             maximum  minimum  humudity  humidity  rainfall
city
kathmandu   5.666667        9        80        80      22.0
pokhara     5.666667        9        75        75      17.0
dhangadhi   5.666667        9        95        95       NaN
biratnagar  5.666667        9        87        87       NaN

In [67]:
df.dropna['dhangadhi']

TypeError: 'method' object is not subscriptable

In [68]:
df=pd.read_csv('power_alarm_2.csv')

In [69]:
df

,Ne,Alarm Id,Hostip,Ac Power Failure Time,Ac Power Failure Since Days
0,SITE NAME=CDR249_MAHENDRA JOTI VDC,65041,10.11.200.57,18-JUL-16 08.29.59.000000 PM,1
1,SITE NAME=WDR748_BUTWAL NT MICRO RAMAPUR,65041,10.11.63.72,19-JUL-16 05.40.29.000000 AM,0

In [71]:
df.head()

,Ne,Alarm Id,Hostip,Ac Power Failure Time,Ac Power Failure Since Days
0,SITE NAME=CDR249_MAHENDRA JOTI VDC,65041,10.11.200.57,18-JUL-16 08.29.59.000000 PM,1
1,SITE NAME=WDR748_BUTWAL NT MICRO RAMAPUR,65041,10.11.63.72,19-JUL-16 05.40.29.000000 AM,0

In [72]:
df.tail()

,Ne,Alarm Id,Hostip,Ac Power Failure Time,Ac Power Failure Since Days
0,SITE NAME=CDR249_MAHENDRA JOTI VDC,65041,10.11.200.57,18-JUL-16 08.29.59.000000 PM,1
1,SITE NAME=WDR748_BUTWAL NT MICRO RAMAPUR,65041,10.11.63.72,19-JUL-16 05.40.29.000000 AM,0

In [73]:
df.ndim

2

In [74]:
df.shape

(2, 5)

In [75]:
df.max()

Ne                             SITE NAME=WDR748_BUTWAL NT MICRO RAMAPUR
Alarm Id                                                          65041
Hostip                                                      10.11.63.72
Ac Power Failure Time                      19-JUL-16 05.40.29.000000 AM
Ac Power Failure Since Days                                           1
dtype: object

In [76]:
df.min()

Ne                             SITE NAME=CDR249_MAHENDRA JOTI VDC
Alarm Id                                                    65041
Hostip                                               10.11.200.57
Ac Power Failure Time                18-JUL-16 08.29.59.000000 PM
Ac Power Failure Since Days                                     0
dtype: object

In [78]:
df.std()

Alarm Id                       0.000000
Ac Power Failure Since Days    0.707107
dtype: float64

In [80]:
df.median()

Alarm Id                       65041.0
Ac Power Failure Since Days        0.5
dtype: float64

# H/W use and or operators with dataframe

In [81]:
df.columns

Index(['Ne', 'Alarm Id', 'Hostip', 'Ac Power Failure Time',
       'Ac Power Failure Since Days'],
      dtype='object')

In [82]:
df.columns=['NE','Alarm_ID','HostIP','AC_Failure_Time','AC_Failure_Since_Days']

In [83]:
df

,NE,Alarm_ID,HostIP,AC_Failure_Time,AC_Failure_Since_Days
0,SITE NAME=CDR249_MAHENDRA JOTI VDC,65041,10.11.200.57,18-JUL-16 08.29.59.000000 PM,1
1,SITE NAME=WDR748_BUTWAL NT MICRO RAMAPUR,65041,10.11.63.72,19-JUL-16 05.40.29.000000 AM,0

In [84]:
df['NE']

0          SITE NAME=CDR249_MAHENDRA JOTI VDC
1    SITE NAME=WDR748_BUTWAL NT MICRO RAMAPUR
Name: NE, dtype: object

In [85]:
df.NE

0          SITE NAME=CDR249_MAHENDRA JOTI VDC
1    SITE NAME=WDR748_BUTWAL NT MICRO RAMAPUR
Name: NE, dtype: object

In [86]:
df.HostIP

0    10.11.200.57
1     10.11.63.72
Name: HostIP, dtype: object

In [ ]:
ndf=df

In [87]:
df=pd.read_csv('https://ndownloader.figshare.com/files/2292172')

In [88]:
ndf=df[1200:1400]

In [89]:
ndf

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
1200,1201,9,3,1978,12,PP,M,23.0,19.0
1201,1202,9,3,1978,7,PE,F,30.0,24.0
1202,1203,9,3,1978,11,DM,F,35.0,45.0
1203,1204,9,3,1978,12,NL,M,NaN,189.0
1204,1205,9,3,1978,8,DS,F,52.0,122.0
1205,1206,9,3,1978,20,DM,F,37.0,39.0
1206,1207,9,3,1978,12,DM,F,35.0,31.0
1207,1208,9,3,1978,11,DM,M,36.0,30.0
1208,1209,9,3,1978,12,DS,F,51.0,124.0
1209,1210,9,3,1978,8,DO,M,35.0,54.0
1210,1211,9,3,1978,9,DS,F,51.0,133.0
1211,1212,9,3,1978,17,DS,F,51.0,122.0
1212,1213,9,3,1978,22,DS,F,NaN,110.0
1213,1214,9,3,1978,21,PF,M,16.0,7.0
1214,1215,9,3,1978,17,DM,M,39.0,52.0
1215,1216,9,3,1978,17,DM,M,39.0,49.0
1216,1217,9,3,1978,20,PF,M,16.0,8.0
1217,1218,9,3,1978,7,PE,M,21.0,19.0
1218,1219,9,3,1978,9,DM,M,38.0,43.0
1219,1220,9,3,1978,20,NL,F,31.0,181.0
1220,1221,9,3,1978,11,PP,F,22.0,14.0
1221,1222,9,3,1978,11,OT,M,20.0,24.0
1222,1223,9,3,1978,22,DS,F,50.0,128.0
1223,1224,9,3,1978,17,DS,M,51.0,136.0
1224,1225,9,3,1978,9,DS,F,50.0,100.0
1225,1226,9,3,1978,17,DM,F,34.0,44.0
1226,1227,9,3,1978,11,PP,M,22.0,13.0
1227,1228,9,3,1978,8,DM,F,36.0,40.0
1228,1229,9,3,1978,9,DM,M,38.0,41.0
1229,1230,9,3,1978,19,PF,M,16.0,6.0
...,...,...,...,...,...,...,...,...,...
1370,1371,10,8,1978,4,DS,M,53.0,115.0
1371,1372,10,8,1978,13,PF,F,15.0,7.0
1372,1373,10,8,1978,18,DS,F,51.0,135.0
1373,1374,10,8,1978,2,NL,NaN,NaN,NaN
1374,1375,10,8,1978,13,PP,M,23.0,20.0
1375,1376,10,8,1978,6,DS,F,48.0,102.0
1376,1377,10,8,1978,14,NL,NaN,NaN,NaN
1377,1378,10,8,1978,18,PP,M,21.0,16.0
1378,1379,10,8,1978,14,DM,M,38.0,45.0
1379,1380,10,8,1978,3,PF,F,16.0,6.0
1380,1381,10,8,1978,5,OT,F,20.0,25.0
1381,1382,10,8,1978,2,DM,F,38.0,42.0
1382,1383,10,8,1978,5,DM,F,36.0,46.0
1383,1384,10,8,1978,13,DS,F,48.0,106.0
1384,1385,10,8,1978,13,OL,F,20.0,24.0
1385,1386,10,8,1978,15,PF,F,15.0,7.0
1386,1387,10,8,1978,4,DS,F,51.0,120.0
1387,1388,10,8,1978,4,SS,NaN,NaN,NaN
1388,1389,10,8,1978,13,DM,F,37.0,37.0
1389,1390,10,8,1978,5,OT,M,20.0,25.0
1390,1391,10,8,1978,13,OL,M,20.0,34.0
1391,1392,10,8,1978,6,DM,M,36.0,45.0
1392,1393,10,8,1978,16,NaN,NaN,NaN,NaN
1393,1394,10,8,1978,18,DM,M,36.0,39.0
1394,1395,10,8,1978,19,PE,NaN,NaN,18.0
1395,1396,11,4,1978,9,DM,M,35.0,42.0
1396,1397,11,4,1978,11,DM,F,36.0,37.0
1397,1398,11,4,1978,17,DS,F,50.0,120.0
1398,1399,11,4,1978,12,DS,F,50.0,116.0
1399,1400,11,4,1978,19,PF,M,15.0,6.0

In [90]:
ndf.reset_index(inplace=True)

In [91]:
ndf

,index,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1200,1201,9,3,1978,12,PP,M,23.0,19.0
1,1201,1202,9,3,1978,7,PE,F,30.0,24.0
2,1202,1203,9,3,1978,11,DM,F,35.0,45.0
3,1203,1204,9,3,1978,12,NL,M,NaN,189.0
4,1204,1205,9,3,1978,8,DS,F,52.0,122.0
5,1205,1206,9,3,1978,20,DM,F,37.0,39.0
6,1206,1207,9,3,1978,12,DM,F,35.0,31.0
7,1207,1208,9,3,1978,11,DM,M,36.0,30.0
8,1208,1209,9,3,1978,12,DS,F,51.0,124.0
9,1209,1210,9,3,1978,8,DO,M,35.0,54.0
10,1210,1211,9,3,1978,9,DS,F,51.0,133.0
11,1211,1212,9,3,1978,17,DS,F,51.0,122.0
12,1212,1213,9,3,1978,22,DS,F,NaN,110.0
13,1213,1214,9,3,1978,21,PF,M,16.0,7.0
14,1214,1215,9,3,1978,17,DM,M,39.0,52.0
15,1215,1216,9,3,1978,17,DM,M,39.0,49.0
16,1216,1217,9,3,1978,20,PF,M,16.0,8.0
17,1217,1218,9,3,1978,7,PE,M,21.0,19.0
18,1218,1219,9,3,1978,9,DM,M,38.0,43.0
19,1219,1220,9,3,1978,20,NL,F,31.0,181.0
20,1220,1221,9,3,1978,11,PP,F,22.0,14.0
21,1221,1222,9,3,1978,11,OT,M,20.0,24.0
22,1222,1223,9,3,1978,22,DS,F,50.0,128.0
23,1223,1224,9,3,1978,17,DS,M,51.0,136.0
24,1224,1225,9,3,1978,9,DS,F,50.0,100.0
25,1225,1226,9,3,1978,17,DM,F,34.0,44.0
26,1226,1227,9,3,1978,11,PP,M,22.0,13.0
27,1227,1228,9,3,1978,8,DM,F,36.0,40.0
28,1228,1229,9,3,1978,9,DM,M,38.0,41.0
29,1229,1230,9,3,1978,19,PF,M,16.0,6.0
...,...,...,...,...,...,...,...,...,...,...
170,1370,1371,10,8,1978,4,DS,M,53.0,115.0
171,1371,1372,10,8,1978,13,PF,F,15.0,7.0
172,1372,1373,10,8,1978,18,DS,F,51.0,135.0
173,1373,1374,10,8,1978,2,NL,NaN,NaN,NaN
174,1374,1375,10,8,1978,13,PP,M,23.0,20.0
175,1375,1376,10,8,1978,6,DS,F,48.0,102.0
176,1376,1377,10,8,1978,14,NL,NaN,NaN,NaN
177,1377,1378,10,8,1978,18,PP,M,21.0,16.0
178,1378,1379,10,8,1978,14,DM,M,38.0,45.0
179,1379,1380,10,8,1978,3,PF,F,16.0,6.0
180,1380,1381,10,8,1978,5,OT,F,20.0,25.0
181,1381,1382,10,8,1978,2,DM,F,38.0,42.0
182,1382,1383,10,8,1978,5,DM,F,36.0,46.0
183,1383,1384,10,8,1978,13,DS,F,48.0,106.0
184,1384,1385,10,8,1978,13,OL,F,20.0,24.0
185,1385,1386,10,8,1978,15,PF,F,15.0,7.0
186,1386,1387,10,8,1978,4,DS,F,51.0,120.0
187,1387,1388,10,8,1978,4,SS,NaN,NaN,NaN
188,1388,1389,10,8,1978,13,DM,F,37.0,37.0
189,1389,1390,10,8,1978,5,OT,M,20.0,25.0
190,1390,1391,10,8,1978,13,OL,M,20.0,34.0
191,1391,1392,10,8,1978,6,DM,M,36.0,45.0
192,1392,1393,10,8,1978,16,NaN,NaN,NaN,NaN
193,1393,1394,10,8,1978,18,DM,M,36.0,39.0
194,1394,1395,10,8,1978,19,PE,NaN,NaN,18.0
195,1395,1396,11,4,1978,9,DM,M,35.0,42.0
196,1396,1397,11,4,1978,11,DM,F,36.0,37.0
197,1397,1398,11,4,1978,17,DS,F,50.0,120.0
198,1398,1399,11,4,1978,12,DS,F,50.0,116.0
199,1399,1400,11,4,1978,19,PF,M,15.0,6.0

In [92]:
ndf.reset_index(drop=True,inplace=True)

In [94]:
ndf.head(10)

,index,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1200,1201,9,3,1978,12,PP,M,23.0,19.0
1,1201,1202,9,3,1978,7,PE,F,30.0,24.0
2,1202,1203,9,3,1978,11,DM,F,35.0,45.0
3,1203,1204,9,3,1978,12,NL,M,NaN,189.0
4,1204,1205,9,3,1978,8,DS,F,52.0,122.0
5,1205,1206,9,3,1978,20,DM,F,37.0,39.0
6,1206,1207,9,3,1978,12,DM,F,35.0,31.0
7,1207,1208,9,3,1978,11,DM,M,36.0,30.0
8,1208,1209,9,3,1978,12,DS,F,51.0,124.0
9,1209,1210,9,3,1978,8,DO,M,35.0,54.0

In [96]:
ndf.drop('index',axis=1)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1201,9,3,1978,12,PP,M,23.0,19.0
1,1202,9,3,1978,7,PE,F,30.0,24.0
2,1203,9,3,1978,11,DM,F,35.0,45.0
3,1204,9,3,1978,12,NL,M,NaN,189.0
4,1205,9,3,1978,8,DS,F,52.0,122.0
5,1206,9,3,1978,20,DM,F,37.0,39.0
6,1207,9,3,1978,12,DM,F,35.0,31.0
7,1208,9,3,1978,11,DM,M,36.0,30.0
8,1209,9,3,1978,12,DS,F,51.0,124.0
9,1210,9,3,1978,8,DO,M,35.0,54.0
10,1211,9,3,1978,9,DS,F,51.0,133.0
11,1212,9,3,1978,17,DS,F,51.0,122.0
12,1213,9,3,1978,22,DS,F,NaN,110.0
13,1214,9,3,1978,21,PF,M,16.0,7.0
14,1215,9,3,1978,17,DM,M,39.0,52.0
15,1216,9,3,1978,17,DM,M,39.0,49.0
16,1217,9,3,1978,20,PF,M,16.0,8.0
17,1218,9,3,1978,7,PE,M,21.0,19.0
18,1219,9,3,1978,9,DM,M,38.0,43.0
19,1220,9,3,1978,20,NL,F,31.0,181.0
20,1221,9,3,1978,11,PP,F,22.0,14.0
21,1222,9,3,1978,11,OT,M,20.0,24.0
22,1223,9,3,1978,22,DS,F,50.0,128.0
23,1224,9,3,1978,17,DS,M,51.0,136.0
24,1225,9,3,1978,9,DS,F,50.0,100.0
25,1226,9,3,1978,17,DM,F,34.0,44.0
26,1227,9,3,1978,11,PP,M,22.0,13.0
27,1228,9,3,1978,8,DM,F,36.0,40.0
28,1229,9,3,1978,9,DM,M,38.0,41.0
29,1230,9,3,1978,19,PF,M,16.0,6.0
...,...,...,...,...,...,...,...,...,...
170,1371,10,8,1978,4,DS,M,53.0,115.0
171,1372,10,8,1978,13,PF,F,15.0,7.0
172,1373,10,8,1978,18,DS,F,51.0,135.0
173,1374,10,8,1978,2,NL,NaN,NaN,NaN
174,1375,10,8,1978,13,PP,M,23.0,20.0
175,1376,10,8,1978,6,DS,F,48.0,102.0
176,1377,10,8,1978,14,NL,NaN,NaN,NaN
177,1378,10,8,1978,18,PP,M,21.0,16.0
178,1379,10,8,1978,14,DM,M,38.0,45.0
179,1380,10,8,1978,3,PF,F,16.0,6.0
180,1381,10,8,1978,5,OT,F,20.0,25.0
181,1382,10,8,1978,2,DM,F,38.0,42.0
182,1383,10,8,1978,5,DM,F,36.0,46.0
183,1384,10,8,1978,13,DS,F,48.0,106.0
184,1385,10,8,1978,13,OL,F,20.0,24.0
185,1386,10,8,1978,15,PF,F,15.0,7.0
186,1387,10,8,1978,4,DS,F,51.0,120.0
187,1388,10,8,1978,4,SS,NaN,NaN,NaN
188,1389,10,8,1978,13,DM,F,37.0,37.0
189,1390,10,8,1978,5,OT,M,20.0,25.0
190,1391,10,8,1978,13,OL,M,20.0,34.0
191,1392,10,8,1978,6,DM,M,36.0,45.0
192,1393,10,8,1978,16,NaN,NaN,NaN,NaN
193,1394,10,8,1978,18,DM,M,36.0,39.0
194,1395,10,8,1978,19,PE,NaN,NaN,18.0
195,1396,11,4,1978,9,DM,M,35.0,42.0
196,1397,11,4,1978,11,DM,F,36.0,37.0
197,1398,11,4,1978,17,DS,F,50.0,120.0
198,1399,11,4,1978,12,DS,F,50.0,116.0
199,1400,11,4,1978,19,PF,M,15.0,6.0

In [97]:
ndf.drop('sex',axis=1)

,index,record_id,month,day,year,plot_id,species_id,hindfoot_length,weight
0,1200,1201,9,3,1978,12,PP,23.0,19.0
1,1201,1202,9,3,1978,7,PE,30.0,24.0
2,1202,1203,9,3,1978,11,DM,35.0,45.0
3,1203,1204,9,3,1978,12,NL,NaN,189.0
4,1204,1205,9,3,1978,8,DS,52.0,122.0
5,1205,1206,9,3,1978,20,DM,37.0,39.0
6,1206,1207,9,3,1978,12,DM,35.0,31.0
7,1207,1208,9,3,1978,11,DM,36.0,30.0
8,1208,1209,9,3,1978,12,DS,51.0,124.0
9,1209,1210,9,3,1978,8,DO,35.0,54.0
10,1210,1211,9,3,1978,9,DS,51.0,133.0
11,1211,1212,9,3,1978,17,DS,51.0,122.0
12,1212,1213,9,3,1978,22,DS,NaN,110.0
13,1213,1214,9,3,1978,21,PF,16.0,7.0
14,1214,1215,9,3,1978,17,DM,39.0,52.0
15,1215,1216,9,3,1978,17,DM,39.0,49.0
16,1216,1217,9,3,1978,20,PF,16.0,8.0
17,1217,1218,9,3,1978,7,PE,21.0,19.0
18,1218,1219,9,3,1978,9,DM,38.0,43.0
19,1219,1220,9,3,1978,20,NL,31.0,181.0
20,1220,1221,9,3,1978,11,PP,22.0,14.0
21,1221,1222,9,3,1978,11,OT,20.0,24.0
22,1222,1223,9,3,1978,22,DS,50.0,128.0
23,1223,1224,9,3,1978,17,DS,51.0,136.0
24,1224,1225,9,3,1978,9,DS,50.0,100.0
25,1225,1226,9,3,1978,17,DM,34.0,44.0
26,1226,1227,9,3,1978,11,PP,22.0,13.0
27,1227,1228,9,3,1978,8,DM,36.0,40.0
28,1228,1229,9,3,1978,9,DM,38.0,41.0
29,1229,1230,9,3,1978,19,PF,16.0,6.0
...,...,...,...,...,...,...,...,...,...
170,1370,1371,10,8,1978,4,DS,53.0,115.0
171,1371,1372,10,8,1978,13,PF,15.0,7.0
172,1372,1373,10,8,1978,18,DS,51.0,135.0
173,1373,1374,10,8,1978,2,NL,NaN,NaN
174,1374,1375,10,8,1978,13,PP,23.0,20.0
175,1375,1376,10,8,1978,6,DS,48.0,102.0
176,1376,1377,10,8,1978,14,NL,NaN,NaN
177,1377,1378,10,8,1978,18,PP,21.0,16.0
178,1378,1379,10,8,1978,14,DM,38.0,45.0
179,1379,1380,10,8,1978,3,PF,16.0,6.0
180,1380,1381,10,8,1978,5,OT,20.0,25.0
181,1381,1382,10,8,1978,2,DM,38.0,42.0
182,1382,1383,10,8,1978,5,DM,36.0,46.0
183,1383,1384,10,8,1978,13,DS,48.0,106.0
184,1384,1385,10,8,1978,13,OL,20.0,24.0
185,1385,1386,10,8,1978,15,PF,15.0,7.0
186,1386,1387,10,8,1978,4,DS,51.0,120.0
187,1387,1388,10,8,1978,4,SS,NaN,NaN
188,1388,1389,10,8,1978,13,DM,37.0,37.0
189,1389,1390,10,8,1978,5,OT,20.0,25.0
190,1390,1391,10,8,1978,13,OL,20.0,34.0
191,1391,1392,10,8,1978,6,DM,36.0,45.0
192,1392,1393,10,8,1978,16,NaN,NaN,NaN
193,1393,1394,10,8,1978,18,DM,36.0,39.0
194,1394,1395,10,8,1978,19,PE,NaN,18.0
195,1395,1396,11,4,1978,9,DM,35.0,42.0
196,1396,1397,11,4,1978,11,DM,36.0,37.0
197,1397,1398,11,4,1978,17,DS,50.0,120.0
198,1398,1399,11,4,1978,12,DS,50.0,116.0
199,1399,1400,11,4,1978,19,PF,15.0,6.0

In [102]:
mdf=df[['species_id','weight']]

In [103]:
mdf.dropna(inplace=True)

/home/ashish/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [104]:
mdf.count()

species_id    32283
weight        32283
dtype: int64

In [ ]:
mdf.plot(kind='bar')

KeyboardInterrupt:

In [ ]:
mdf.avg().plot(kind='bar')