# Day 11

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
%matplotlib inline

In [5]:
sns.set()

In [6]:
pd.read_excel('summer.xlsx')

Empty DataFrame
Columns: [Timestamp, Untitled Question]
Index: []

In [9]:
df=pd.read_excel('summer.xlsx',sheetname='ALL MEDALISTS',skiprows=4)

In [10]:
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [16]:
df[df['NOC']=='BEL'].groupby('Medal').count()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender
Medal,,,,,,,,,
Bronze,150,150,150,150,150,150,150,150,150
Gold,91,91,91,91,91,91,91,91,91
Silver,167,167,167,167,167,167,167,167,167

In [17]:
bdf=df[df['NOC']=='BEL']

In [18]:
bdf

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
205,Paris,1900,Aquatics,Water polo,"COHEN, Henri",BEL,Men,water polo,M,Silver
206,Paris,1900,Aquatics,Water polo,"DE BACKER, Jean",BEL,Men,water polo,M,Silver
207,Paris,1900,Aquatics,Water polo,"DE BEHR, Victor",BEL,Men,water polo,M,Silver
208,Paris,1900,Aquatics,Water polo,"FEYAERTS, Fernand",BEL,Men,water polo,M,Silver
209,Paris,1900,Aquatics,Water polo,"GREGOIRE, Oscar",BEL,Men,water polo,M,Silver
210,Paris,1900,Aquatics,Water polo,"MICHANT, Albert",BEL,Men,water polo,M,Silver
211,Paris,1900,Aquatics,Water polo,"SONNEMANS, Victor",BEL,Men,water polo,M,Silver
213,Paris,1900,Archery,Archery,"VAN INNIS, Hubert",BEL,Men,"au chapelet, 33m",M,Gold
219,Paris,1900,Archery,Archery,"VAN INNIS, Hubert",BEL,Men,"au cordon doré, 33m",M,Gold
223,Paris,1900,Archery,Archery,"VAN INNIS, Hubert",BEL,Men,"au cordon doré, 50m",M,Silver
224,Paris,1900,Archery,Archery,"FOULON, Emmanuel",BEL,Men,sur la perche à la herse,M,Gold
225,Paris,1900,Archery,Archery,"DRUART, Jr.",BEL,Men,sur la perche à la herse,M,Silver
227,Paris,1900,Archery,Archery,"GLINEUX, Louis",BEL,Men,sur la perche à la pyramide,M,Bronze
348,Paris,1900,Equestrian,Jumping,"VAN DE POELE, Georges",BEL,Men,high jump,X,Bronze
352,Paris,1900,Equestrian,Jumping,"HAEGEMAN, Aimé",BEL,Men,individual,X,Gold
353,Paris,1900,Equestrian,Jumping,"VAN DE POELE, Georges",BEL,Men,individual,X,Silver
355,Paris,1900,Equestrian,Jumping,"VAN LANGHENDONCK, Constant",BEL,Men,long jump individual,X,Gold
378,Paris,1900,Football,Football,"DELBECQUE, Albert",BEL,Men,football,M,Bronze
379,Paris,1900,Football,Football,"KELECOM, R.",BEL,Men,football,M,Bronze
380,Paris,1900,Football,Football,"LEBOUTTE, Marcel",BEL,Men,football,M,Bronze
381,Paris,1900,Football,Football,LONDOT,BEL,Men,football,M,Bronze
382,Paris,1900,Football,Football,"MOREAU, Ernest",BEL,Men,football,M,Bronze
383,Paris,1900,Football,Football,"NEEFS, E.",BEL,Men,football,M,Bronze
384,Paris,1900,Football,Football,"PELGRIMS, Georges",BEL,Men,football,M,Bronze
385,Paris,1900,Football,Football,"RENIER, Alphonse",BEL,Men,football,M,Bronze
386,Paris,1900,Football,Football,"SPANNOGHE, E.",BEL,Men,football,M,Bronze
387,Paris,1900,Football,Football,"THORNTON, Erich",BEL,Men,football,M,Bronze
388,Paris,1900,Football,Football,VAN HEUCKELUM,BEL,Men,football,M,Bronze
452,Paris,1900,Rowing,Rowing,"BRUGGEMAN, Prospère",BEL,Men,eight with coxswain (8+),M,Silver
453,Paris,1900,Rowing,Rowing,"DE BISSCHOP, Jules",BEL,Men,eight with coxswain (8+),M,Silver
...,...,...,...,...,...,...,...,...,...,...
17165,Los Angeles,1984,Cycling,Cycling Track,"ILEGEMS, Roger",BEL,Men,Points Race,M,Gold
17665,Los Angeles,1984,Rowing,Rowing,"CROIS, Dirk",BEL,Men,double sculls (2x),M,Silver
17666,Los Angeles,1984,Rowing,Rowing,"DELOOF, Pierre Marie",BEL,Men,double sculls (2x),M,Silver
17814,Los Angeles,1984,Rowing,Rowing,"HAESEBROUCK, Ann",BEL,Women,single sculls (1x),W,Bronze
19135,Seoul,1988,Judo,Judo,"VAN DE WALLE, Robert",BEL,Men,86 - 95kg (half-heavyweight),M,Bronze
19390,Seoul,1988,Shooting,Shooting,"PEETERS, Frans",BEL,Men,trap (125 targets),X,Bronze
20342,Barcelona,1992,Cycling,Cycling Track,"MATHY, Cedric",BEL,Men,Points Race,M,Bronze
20812,Barcelona,1992,Judo,Judo,"RAKELS, Heidi",BEL,Women,61 - 66kg (middleweight),W,Bronze
21002,Barcelona,1992,Rowing,Rowing,"BREDAEL, Annelies",BEL,Women,single sculls (1x),W,Silver
21321,Atlanta,1996,Aquatics,Swimming,"DEBURGHGRAEVE, Frederik",BEL,Men,100m breaststroke,M,Gold
22619,Atlanta,1996,Judo,Judo,"VAN BARNEVELD, Harry",BEL,Men,+ 100kg (heavyweight),M,Bronze
22631,Atlanta,1996,Judo,Judo,"LOMBA, Marisabel",BEL,Women,52 - 56kg (lightweight),W,Bronze
22637,Atlanta,1996,Judo,Judo,"VANDECAVEYE, Gella",BEL,Women,56 - 61kg (half-middleweight),W,Silver
22648,Atlanta,1996,Judo,Judo,"WERBROUCK, Ulla",BEL,Women,66 - 72kg (half-heavyweight),W,Gold
22845,Atlanta,1996,Sailing,Sailing,"GODEFROID, Sebastien",BEL,Men,single-handed dinghy (Finn),M,Silver
24029,Sydney,2000,Cycling,Cycling Track,"DE WILDE, Etienne",BEL,Men,Madison,M,Silver
24030,Sydney,2000,Cycling,Cycling Track,"GILMORE, Matthew",BEL,Men,Madison,M,Silver
24069,Sydney,2000,Cycling,Mountain Bike,"MEIRHAEGHE, Filip",BEL,Men,cross-country,M,Silver
24578,Sydney,2000,Judo,Judo,"SIMONS, Ann",BEL,Women,- 48kg (extra-lightweight),W,Bronze
24602,Sydney,2000,Judo,Judo,"VANDECAVEYE, Gella",BEL,Women,57 - 63kg (half-middleweight),W,Bronze
24981,Sydney,2000,Tennis,Tennis,"CALLENS, Els",BEL,Women,doubles,W,Bronze
24982,Sydney,2000,Tennis,Tennis,"VAN ROOST, Dominique",BEL,Women,doubles,W,Bronze
26008,Athens,2004,Cycling,Cycling Road,"MERCKX, Axel",BEL,Men,individual road race,M,Bronze
26588,Athens,2004,Judo,Judo,"HEYLEN, Ilse",BEL,Women,48 - 52kg (half-lightweight),W,Bronze
26984,Athens,2004,Tennis,Tennis,"HENIN-HARDENNE, Justine",BEL,Women,singles,W,Gold
27619,Beijing,2008,Athletics,Athletics,"BORLEE, Olivia",BEL,Women,4x100m relay,W,Silver
27620,Beijing,2008,Athletics,Athletics,"GEVAERT, Kim",BEL,Women,4x100m relay,W,Silver
27621,Beijing,2008,Athletics,Athletics,"MARIEN, Hanna",BEL,Women,4x100m relay,W,Silver
27622,Beijing,2008,Athletics,Athletics,"OUEDRAOGO, Elodie",BEL,Women,4x100m relay,W,Silver
27684,Beijing,2008,Athletics,Athletics,"HELLEBAUT, Tia",BEL,Women,high jump,W,Gold

In [22]:
bdf=bdf[['Edition','Gender','Medal']]

In [23]:
bdf

       Edition Gender   Medal
205       1900    Men  Silver
206       1900    Men  Silver
207       1900    Men  Silver
208       1900    Men  Silver
209       1900    Men  Silver
210       1900    Men  Silver
211       1900    Men  Silver
213       1900    Men    Gold
219       1900    Men    Gold
223       1900    Men  Silver
224       1900    Men    Gold
225       1900    Men  Silver
227       1900    Men  Bronze
348       1900    Men  Bronze
352       1900    Men    Gold
353       1900    Men  Silver
355       1900    Men    Gold
378       1900    Men  Bronze
379       1900    Men  Bronze
380       1900    Men  Bronze
381       1900    Men  Bronze
382       1900    Men  Bronze
383       1900    Men  Bronze
384       1900    Men  Bronze
385       1900    Men  Bronze
386       1900    Men  Bronze
387       1900    Men  Bronze
388       1900    Men  Bronze
452       1900    Men  Silver
453       1900    Men  Silver
...        ...    ...     ...
17165     1984    Men    Gold
17665     1984    Men  Silver
17666     1984    Men  Silver
17814     1984  Women  Bronze
19135     1988    Men  Bronze
19390     1988    Men  Bronze
20342     1992    Men  Bronze
20812     1992  Women  Bronze
21002     1992  Women  Silver
21321     1996    Men    Gold
22619     1996    Men  Bronze
22631     1996  Women  Bronze
22637     1996  Women  Silver
22648     1996  Women    Gold
22845     1996    Men  Silver
24029     2000    Men  Silver
24030     2000    Men  Silver
24069     2000    Men  Silver
24578     2000  Women  Bronze
24602     2000  Women  Bronze
24981     2000  Women  Bronze
24982     2000  Women  Bronze
26008     2004    Men  Bronze
26588     2004  Women  Bronze
26984     2004  Women    Gold
27619     2008  Women  Silver
27620     2008  Women  Silver
27621     2008  Women  Silver
27622     2008  Women  Silver
27684     2008  Women    Gold

[408 rows x 3 columns]

In [26]:
bdf.set_index(['Edition','Gender'],inplace=True)

In [29]:
bdf.loc[1900]

         Medal
Gender
Men     Silver
Men     Silver
Men     Silver
Men     Silver
Men     Silver
Men     Silver
Men     Silver
Men       Gold
Men       Gold
Men     Silver
Men       Gold
Men     Silver
Men     Bronze
Men     Bronze
Men       Gold
Men     Silver
Men       Gold
Men     Bronze
Men     Bronze
Men     Bronze
Men     Bronze
Men     Bronze
Men     Bronze
Men     Bronze
Men     Bronze
Men     Bronze
Men     Bronze
Men     Bronze
Men     Silver
Men     Silver
Men     Silver
Men     Silver
Men     Silver
Men     Silver
Men     Silver
Men     Silver
Men     Silver
Men     Bronze
Men     Bronze

In [31]:
bdf.loc[1984,'Women']

/home/ashish/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  if __name__ == '__main__':

                 Medal
Edition Gender
1984    Women   Bronze
        Women   Bronze

In [32]:
bdf['Medal'].apply(lambda row: print(row))

Silver
Silver
Silver
Silver
Silver
Silver
Silver
Gold
Gold
Silver
Gold
Silver
Bronze
Bronze
Gold
Silver
Gold
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Bronze
Bronze
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Gold
Silver
Silver
Silver
Silver
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Silver
Bronze
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Bronze
Gold
Silver
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Bronze
Gold
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Silver
Bronze
Bronze
Bronze
Bronze
Gold
Bronze
Bronze
Bronze
Bronze
Silver
Silver
Silver
Silver
Bronze
Gold
Gold
Gold
Gold
Gold
Gold
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Gold
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Gold
Gold
Gold
Silver
Silver
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Silver
Silver
Silver
Silver
Silver
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Gold
Bronze
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Silver
Gold
Bronze
Silver
Silver
Silver
Silver
Bronze
Bronze
Bronze
Bronze
Gold
Silver
Silver
Silver
Silver
Silver
Silver
Bronze
Silver
Silver
Silver
Silver
Silver
Silver
Gold
Silver
Bronze
Bronze
Bronze
Bronze
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Gold
Bronze
Silver
Bronze
Gold
Gold
Gold
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Gold
Silver
Gold
Gold
Gold
Silver
Silver
Silver
Silver
Silver
Bronze
Silver
Bronze
Gold
Bronze
Gold
Bronze
Bronze
Silver
Silver
Silver
Silver
Silver
Bronze
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Gold
Bronze
Gold
Silver
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Silver
Gold
Bronze
Bronze
Silver
Gold
Silver
Silver
Silver
Silver
Bronze
Bronze
Bronze
Bronze
Bronze
Bronze
Gold
Silver
Silver
Silver
Silver
Gold

Edition  Gender
1900     Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
         Men       None
                   ...
1984     Men       None
         Men       None
         Men       None
         Women     None
1988     Men       None
         Men       None
1992     Men       None
         Women     None
         Women     None
1996     Men       None
         Men       None
         Women     None
         Women     None
         Women     None
         Men       None
2000     Men       None
         Men       None
         Men       None
         Women     None
         Women     None
         Women     None
         Women     None
2004     Men       None
         Women     None
         Women     None
2008     Women     None
         Women     None
         Women     None
         Women     None
         Women     None
Name: Medal, dtype: object

In [37]:
def medal_value(row):
    if row=='Gold':
        return 3
    elif row=='Silver':
        return 2
    else:
        return 1

In [40]:
bdf['Medal']=bdf['Medal'].apply(medal_value)

/home/ashish/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [41]:
bdf

                Medal
Edition Gender
1900    Men         2
        Men         2
        Men         2
        Men         2
        Men         2
        Men         2
        Men         2
        Men         3
        Men         3
        Men         2
        Men         3
        Men         2
        Men         1
        Men         1
        Men         3
        Men         2
        Men         3
        Men         1
        Men         1
        Men         1
        Men         1
        Men         1
        Men         1
        Men         1
        Men         1
        Men         1
        Men         1
        Men         1
        Men         2
        Men         2
...               ...
1984    Men         3
        Men         2
        Men         2
        Women       1
1988    Men         1
        Men         1
1992    Men         1
        Women       1
        Women       2
1996    Men         3
        Men         1
        Women       1
        Women       2
        Women       3
        Men         2
2000    Men         2
        Men         2
        Men         2
        Women       1
        Women       1
        Women       1
        Women       1
2004    Men         1
        Women       1
        Women       3
2008    Women       2
        Women       2
        Women       2
        Women       2
        Women       3

[408 rows x 1 columns]

In [42]:
bdf.describe()

            Medal
count  408.000000
mean     1.855392
std      0.755761
min      1.000000
25%      1.000000
50%      2.000000
75%      2.000000
max      3.000000

In [43]:
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [44]:
df[['Gender','Medal']].groupby('Gender').describe()

                Medal
Gender
Men    count    21721
       unique       3
       top       Gold
       freq      7365
Women  count     7495
       unique       3
       top     Bronze
       freq      2514

In [46]:
df.groupby('Medal','Gender').describe()

ValueError: No axis named Gender for object type <class 'pandas.core.frame.DataFrame'>

In [49]:
df[['Edition','Gender','Medal']].groupby(['Gender','Medal']).describe().unstack()

              Edition                                                          \
                count         mean        std     min     25%     50%     75%
Gender Medal
Men    Bronze  7175.0  1963.548990  32.265410  1896.0  1936.0  1972.0  1992.0
       Gold    7365.0  1959.877257  33.639979  1896.0  1928.0  1964.0  1988.0
       Silver  7181.0  1960.532516  33.450041  1896.0  1928.0  1968.0  1992.0
Women  Bronze  2514.0  1986.513922  20.916829  1900.0  1976.0  1992.0  2000.0
       Gold    2485.0  1986.169819  21.160345  1900.0  1976.0  1992.0  2000.0
       Silver  2496.0  1986.152244  21.021357  1900.0  1976.0  1992.0  2000.0


                  max
Gender Medal
Men    Bronze  2008.0
       Gold    2008.0
       Silver  2008.0
Women  Bronze  2008.0
       Gold    2008.0
       Silver  2008.0

xlrd/xlwt